*{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

body, html{
  height: 100%;
  width: 100%;
  background-color: #e8f1f8;
  position: absolute;
  left: 0%;
  right: 0%;
}


.logo {
  font-size: 33px;
  float: left;
}

header {
  background-color: #13293d;
  padding: 5px;
  height: 65px;
  /* width: 100%; */
  margin: 0;
}

nav ul {
  float: right;
  padding-top: 0.5rem;
}

nav ul li {
  padding-right: 1.7rem;
  display: inline;
}

.images {
  margin: 0;
  padding: 10px;
  text-align: center;
}

.description {
  margin: 0;
  background-color: aqua;
  width: 100%;
  margin-bottom: 30px;
}

.get-started {
  color: #13293d;
  background-color: #e8f1f8;
  width: 150px;
  height: 60px;
  /* border-radius: 20px; */
  border: solid 1px #13293d;
  font-weight: bold;
  transition: 0.6s;
  cursor: pointer;
  outline: none;
}

.get-started:hover {
  background: #1b98e0;
  color: #e8f1f8;
}

.inscription {
  color: rgb(84, 112, 133);
  background-color: #13293d;
  width: 80px;
  height: 40px;
  border-radius: 2px;
  border: solid 2px rgb(84, 112, 133);
  font-weight: bold;
  transition: 0.6s;
  cursor: pointer;
  outline: none;
}
.inscription:hover {
  border-color: #e8f1f8;
  color: #e8f1f8;
}

.connection {
  color: #e8f1f8;
  background-color: #1b98e0;
  width: 80px;
  height: 40px;
  border-radius: 2px;
  border: solid 2px #1b98e0;
  font-weight: bold;
  transition: 0.6s;
  cursor: pointer;
  outline: none;
}
.connection:hover {
  border-color: #1b98e0;
  color: #1b98e0;
  background-color: #13293d;
}

/* footer {
  text-align: center;
  background-color: #13293d;
  color: #e8f1f8;
  padding: 100px;
  margin-top: 50px;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
} */

.intro {
  height: 500px;
  background-color: #e8f1f8;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slidshow-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* display :none; */
  opacity: 0;
  transition: 1s ease-out;
}

.title {
  height: 100px;
  /* letter-spacing: 3px; */
}

.desc-blue {
  background-color: #e8f1f8;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px;
  /* overflow: hidden; */
  width: 100%;
  /* letter-spacing: 3px; */
  display: grid;
  grid-template-columns: 70% 30%;
  /* grid-column-gap: 1em; */
  transition: .4s;
  padding: 10px;
}
.desc-white {
  background-color: #e8f1f8;
  align-items: center;
  text-align: center;
  height: 400px;
  /* overflow: hidden; */
  width: 100%;
  /* letter-spacing: 3px; */
  display: grid;
  grid-template-columns: 30% 70%;
  /* grid-column-gap: 20px; */
  transition: .4s;
}

.desc-blue div,
.desc-white div {
  padding: 10px;
}

.desc-img{
  height: 350px;
  width: 90%;
  transition: .4s;
}

.desc-blue:hover,.desc-white:hover{
  background-color: #ffffff;
  font-size: 18px;
  color: #13293d;
}

.desc-blue:hover .desc-img{
  height: 380px;
  width: 92%;
}

.desc-white:hover .desc-img{
  height: 380px;
  width: 92%;
}

.center {
  text-align: center;
  margin-bottom: 60px;
}


.desc-title{
  text-align: center;
  border-bottom: 2px solid #13293d;
  padding: 20px 45px 15px 45px;
  margin: 0;
  width: 100%;
}

.desc-ul{
  padding: 40px;
}

.desc-ul li{
  padding: 5px 0 5px 0;
  list-style-type: none;
}

.desc-text
{
  width: 70%;
  margin-left: 70px;
}